{% extends "base.html" %}
{% block additional_head %}
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic;">2조 데이터 차이</strong>
<small style="font-family: NEXON Lv2 Gothic Light;">기후 변화 예측 및 작물 추천 시스템</small>
{% endblock %}
{% block content %}
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxODEyMDRfNzAg/MDAxNTQzOTMwMDU4MDI1.Nrg3F0XdrCYnS2vNBXUX5oyF5Dds7JPoYVT4BQIHWkgg.bVbUbzVLqfXFXgqTKs6pNcH8gpYtU2CrEMxgIExnDaQg.JPEG.dkgoggog21/ce9d6ee43b9fa3b8bc5828cf7d36e040cf8f1a66796e2a28b2552e67cf3d02ee55ca57531f25eb3dc9aba3d0e6f4b3ddff62e515120538e0a56ec7daaea1ee95d4ac5673b613.jpg?type=w2"
                style="max-width: 100%; max-height:360px; margin: auto">
            <div class="carousel-caption">
                <h3>한반도 미래 기후 변화 예측</h3>
                <p>Flask, Scikit-Learn</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.christiantoday.co.kr/data/images/full/323354/image.jpg?w=654"
                style="max-width: 100%; max-height:360px; margin: auto">
            <div class="carousel-caption">
                <h3>기후 변화에 따른 지역별 작물 추천</h3>
                <p>지도 시각화, 크롤링, 추천시스템</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAyMDA0MjZfMjIw/MDAxNTg3ODYxNjEyMzU0.NJIvHVL6Op1ESvkq6S3JhNacQJCd5tGr7KwdAduLAdYg._WXYPk8ufQYfYOp6Aipq4FVQcEJaVCcQB3rdlbRoXu4g.JPEG.sec1021/ultron.jpg?type=w800"
                style="max-width: 100%; max-height:360px; margin: auto">
            <div class="carousel-caption">
                <h3>현재 가격 기준 최고 예상 수익 작물 추천</h3>
                <p>folium 시각화</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
{% endblock %}