{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">미래 작물 추천</strong>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-10">
        <form action="/menu3" method="post" style="font-family: NEXON Lv2 Gothic Light;">
            <label for="year">예측할 년도를 입력하세요:
                <input type="text" name="year" required pattern="\d{4}" , placeholder="2023~2100", min="2023", max="2100">
                <span class="validity"></span>
            </label>
            <button type="submit" class="btn btn-primary mr-2" style="background-color: rgb(8,32,64); font-family: NEXON Lv2 Gothic Bold;">실행</button>
        </form>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}