{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">인스타그램 작물 태그 워드클라우드</strong>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-10">
        <form action="/menu5" method="post">
            <table class="table table-borderless">
                <td>작물선택
                </td>
                <td>
                    <select name="crops">
                        <option value="밀">밀</option>
                        <option value="옥수수">옥수수</option>
                    </select>
                </td>
                <br>
                <td><button type="submit" class="btn btn-primary mr-2" style="background-color: rgb(8,32,64); font-family: NEXON Lv2 Gothic Bold;">실행</button></td>
            </table>
        </form>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}