{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">작물별 선호도 분석</strong>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-10">
        <form action="/menu4" method="post" style="font-family: NEXON Lv2 Gothic Light;">
            <!-- <td>언어선택:</td>
            <select name="lang">
                <option value="영어">영어</option>
                <option value="한국어">한국어</option>
            </select> -->
            <td>작물선택:</td>
            <select name="crops">
                <option value="강낭콩">강낭콩</option>
                <option value="렌틸콩">렌틸콩</option>
                <option value="망고">망고</option>
                <option value="멜론">멜론</option>
                <option value="밀">밀</option>
                <option value="바나나">바나나</option>
                <option value="병아리콩">병아리콩</option>
                <option value="사과">사과</option>
                <option value="석류">석류</option>
                <option value="수박">수박</option>
                <option value="쌀">쌀</option>
                <option value="오렌지">오렌지</option>
                <option value="옥수수">옥수수</option>
                <option value="파파야">파파야</option>
                <option value="포도">포도</option>
            </select>
            <button type="submit" class="btn btn-primary mr-2" style="background-color: rgb(8,32,64); font-family: NEXON Lv2 Gothic Bold;">실행</button>
        </form>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}