{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">작물 감성분석</strong> - 결과
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <table class="table table-borderless">
            <tr>
            <tr>
                <h3>{{ crops }} 감성분석 시각화({{ lang }})</h3>
            </tr>
            </tr>
            <tr>
                <td class="w-90 ml-5">
                    <!-- <iframe src="static/data/folium_pred_weather.html" width="800" height="500"></iframe> -->
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align: center;">
                    <button class="btn btn-primary" onclick="location.href='/menu4'">재실행</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}